main {
    margin-top: 0;
}

section > div {
    max-width: 1100px;
    margin: auto;
}

article {
    width: 90%;
    max-width: 720px;
    margin: auto;
}

article p {
    line-height: 31px;
    margin-bottom: 20px;
    text-align: justify;
}

article h1 {
    padding: 25px 0 25px;
}

.sect-a {
    padding: 100px 0 50px 0;
    background: url(/storage/banner-one.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}

.sect-a::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff9c 0%,white 100%);
    z-index: -1;
}

.sect-b {
    max-width: 95%;
    margin: 64px auto 120px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.sect-b .event-box {
    max-width: 590px;
    margin-top: 20px;
    border: gray solid 1px;
    border-bottom: none;
    border-radius: 18px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-flow: row wrap;
}

.event-box .event {
    border-bottom: #80808061 1px solid;
    padding: 15px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    height: 65px;
}

.event p {
    max-width: 80%;
}

.event button {
    width: 15%;
}

.text-group-container {
    max-width: 100%;
    margin: auto;
    background: linear-gradient(0, transparent, #fff 94%);
}

.text-group-three {
    padding: 25px;
    background: #76C558;
    box-shadow: 0 0 27px rgba(0,0,0,0.25);
    max-width: 1100px;
    margin: auto;
}

.target {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    margin-bottom: 50px;
}

.left-section-target {
    width: 200px;
    text-align: center;
}

.left-section-target h1{
    font-weight: 600;
    color: white;
}

.text-target {
    width: 70%;
    margin-right: 70px;
    display: flex;
    align-items: center;
}

.text-target p {
    line-height: 31px;
    color: white;
    font-size: 18px;
}

.sect-c {
    background: url(/storage/banner-two.jpg);
    background-size: cover;
}

.text-group-four {
    padding: 25px;
}

.desc-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
    margin-top: 130px;
}

.left-section-desc {
    border: 1px solid white;
    padding: 30px;
    width: 340px;
}

.title-desc h1{
    color: white;
    margin-bottom: 30px;
}

.text-desc p {
    line-height: 31px;
    color: white;
    font-size: 18px;
}

.desc-contact {
    width: 220px;
}

footer {
    clear: both;
    position: relative;
    height: 30px;
    margin-top: -50px;
}

.footer-text p, .footer-text svg path {
    color: white;
}

@media only screen and (max-width: 670px) {

    .desc-contact {
        margin-top: 50px;
        text-align: center;
    }

}

@media only screen and (max-width: 768px) {

    .target {
        justify-content: center;
        text-align: center;
        flex-flow: wrap;
    }

    .text-target {
        margin-right: 0;
        margin-top: 25px;
    }

}